@model IEnumerable<Lojadejogos.Models.Jogo>

@{
    ViewBag.Title = "ListarJogo";
}

<h2>ListarJogo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JogoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoVersao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoDev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoGenero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoFaixa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoPlataforma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JogoSinopse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JogoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JogoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JogoVersao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JogoDev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JogoGenero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JogoFaixa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JogoPlataforma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JogoData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JogoSinopse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JogoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.JogoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JogoID })
        </td>
    </tr>
}

</table>
