@model IEnumerable<Lojadejogos.Models.Cliente>

@{
    ViewBag.Title = "ListarCliente";
}

<h2>ListarCliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteCPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteDataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteEndereco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteCPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteDataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteEndereco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteCPF }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteCPF }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClienteCPF })
        </td>
    </tr>
}

</table>
